<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jimmy.dao.mapper.CourseInfoMapper">
    <resultMap id="BaseResultMap" type="com.jimmy.dao.entity.CourseInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="time_long" property="timeLong" jdbcType="INTEGER"/>
        <result column="room_id" property="roomId" jdbcType="BIGINT"/>
        <result column="teacher_id" property="teacherId" jdbcType="BIGINT"/>
        <result column="used_teacher_id" property="usedTeacherId" jdbcType="BIGINT"/>

        <result column="used_status" property="usedStatus" jdbcType="TINYINT"/>
        <result column="description" property="description" jdbcType="LONGVARCHAR"/>
        <result column="create_id" property="createId" jdbcType="BIGINT"/>
        <result column="modify_id" property="modifyId" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="site_id" property="siteId" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, start_time, time_long, room_id, teacher_id, used_teacher_id,used_status,description, create_id, modify_id,
    create_time, modify_time, site_id
  </sql>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_course_info
        where site_id IN
        <foreach collection="siteIdList" separator="," item="siteId" close=")" open="(">
            #{siteId}
        </foreach>
        <if test=" name != null ">
            AND name LIKE concat('%','#{name}','%')
        </if>
    </select>

    <select id="listCouldUsed" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_course_info
        where site_id IN
        <foreach collection="siteIdList" separator="," item="siteId" close=")" open="(">
            #{siteId}
        </foreach>

        <if test=" roomId != null ">
            AND room_id=#{roomId}
        </if>
        <if test=" teacherId != null ">
            AND teacher_id=#{teacherId}
        </if>
        and (used_status=0 or used_status=1)
        ORDER BY start_time ASC
        limit #{SIZE}
    </select>

    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_course_info
        where id = #{id,jdbcType=BIGINT} and site_id IN
        <foreach collection="siteIdList" separator="," item="siteId" close=")" open="(">
            #{siteId}
        </foreach>
    </select>
    <select id="findByRoomId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_course_info
        where room_id = #{roomId,jdbcType=BIGINT}
        and used_status=1
        and site_id IN
        <foreach collection="siteIdList" separator="," item="siteId" close=")" open="(">
            #{siteId}
        </foreach>
    </select>

    <insert id="insert" parameterType="com.jimmy.dao.entity.CourseInfo" keyProperty="id" useGeneratedKeys="true">
    insert into t_course_info ( name, start_time,
      time_long, room_id, tearcher_id,
      used_status, create_id, modify_id,
      create_time, modify_time, site_id, 
      description)
    values (#{name,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP},
      #{timeLong,jdbcType=INTEGER}, #{roomId,jdbcType=BIGINT}, #{tearcherId,jdbcType=BIGINT},
      #{usedStatus,jdbcType=TINYINT}, #{createId,jdbcType=BIGINT}, #{modifyId,jdbcType=BIGINT},
     now(), now(), #{siteId,jdbcType=BIGINT},
      #{description,jdbcType=LONGVARCHAR})
  </insert>

    <update id="updateProperty" parameterType="com.jimmy.dao.entity.CourseInfo">
        update t_course_info
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="timeLong != null">
                time_long = #{timeLong,jdbcType=INTEGER},
            </if>
            <if test="roomId != null">
                room_id = #{roomId,jdbcType=BIGINT},
            </if>
            <if test="tearcherId != null">
                tearcher_id = #{tearcherId,jdbcType=BIGINT},
            </if>
            <if test="usedTeacherId != null">
                used_teacher_id = #{usedTeacherId,jdbcType=BIGINT},
            </if>

            <if test="usedStatus != null">
                used_status = #{usedStatus,jdbcType=TINYINT},
            </if>
            modify_id = #{modifyId,jdbcType=BIGINT},
            modify_time = now(),
            <if test="description != null">
                description = #{description,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT} and site_id = #{siteId,jdbcType=BIGINT} and used_status=0
    </update>
    <update id="updateUsedStatus">
    update t_course_info
    set used_status=2
    where site_id = #{siteId} and used_status=1 and room_id=#{roomId} and course_id!=#{courseId}
  </update>

</mapper>