<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jimmy.dao.mapper.CoursewareStudentAnswerMapper" >
  <resultMap id="BaseResultMap" type="com.jimmy.dao.entity.CoursewareStudentAnswer" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="course_id" property="courseId" jdbcType="BIGINT" />
    <result column="courseware_id" property="coursewareId" jdbcType="BIGINT" />
    <result column="courseware_item_id" property="coursewareItemId" jdbcType="BIGINT" />
    <result column="student_id" property="studentId" jdbcType="BIGINT" />
    <result column="fraction" property="fraction" jdbcType="INTEGER" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="modify_id" property="modifyId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="site_id" property="siteId" jdbcType="BIGINT" />
    <result column="result" property="result" jdbcType="LONGVARCHAR" />
    <result column="tearch_result" property="tearchResult" jdbcType="LONGVARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, course_id, courseware_id, courseware_item_id, student_id, fraction,    result, tearch_result, create_id,
    modify_id, create_time, modify_time, site_id
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_couseware_student_answer
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_couseware_student_answer
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jimmy.dao.entity.CoursewareStudentAnswer"  keyProperty="id" useGeneratedKeys="true">
    insert into t_couseware_student_answer (id, course_id, courseware_id, 
      courseware_item_id, student_id, fraction, 
      create_id, modify_id, create_time, 
      modify_time, site_id, result, 
      tearch_result)
    values (#{id,jdbcType=BIGINT}, #{courseId,jdbcType=BIGINT}, #{coursewareId,jdbcType=BIGINT}, 
      #{coursewareItemId,jdbcType=BIGINT}, #{studentId,jdbcType=BIGINT}, #{fraction,jdbcType=INTEGER}, 
      #{createId,jdbcType=BIGINT}, #{modifyId,jdbcType=BIGINT},now(),
      now(), #{siteId,jdbcType=BIGINT}, #{result,jdbcType=LONGVARCHAR},
      #{tearchResult,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jimmy.dao.entity.CoursewareStudentAnswer" >
    insert into t_couseware_student_answer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="coursewareId != null" >
        courseware_id,
      </if>
      <if test="coursewareItemId != null" >
        courseware_item_id,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="fraction != null" >
        fraction,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="modifyId != null" >
        modify_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="siteId != null" >
        site_id,
      </if>
      <if test="result != null" >
        result,
      </if>
      <if test="tearchResult != null" >
        tearch_result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=BIGINT},
      </if>
      <if test="coursewareId != null" >
        #{coursewareId,jdbcType=BIGINT},
      </if>
      <if test="coursewareItemId != null" >
        #{coursewareItemId,jdbcType=BIGINT},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=BIGINT},
      </if>
      <if test="fraction != null" >
        #{fraction,jdbcType=INTEGER},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="modifyId != null" >
        #{modifyId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=BIGINT},
      </if>
      <if test="result != null" >
        #{result,jdbcType=LONGVARCHAR},
      </if>
      <if test="tearchResult != null" >
        #{tearchResult,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jimmy.dao.entity.CoursewareStudentAnswer" >
    update t_couseware_student_answer
    <set >
      <if test="courseId != null" >
        course_id = #{courseId,jdbcType=BIGINT},
      </if>
      <if test="coursewareId != null" >
        courseware_id = #{coursewareId,jdbcType=BIGINT},
      </if>
      <if test="coursewareItemId != null" >
        courseware_item_id = #{coursewareItemId,jdbcType=BIGINT},
      </if>
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=BIGINT},
      </if>
      <if test="fraction != null" >
        fraction = #{fraction,jdbcType=INTEGER},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="modifyId != null" >
        modify_id = #{modifyId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="siteId != null" >
        site_id = #{siteId,jdbcType=BIGINT},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=LONGVARCHAR},
      </if>
      <if test="tearchResult != null" >
        tearch_result = #{tearchResult,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jimmy.dao.entity.CoursewareStudentAnswer" >
    update t_couseware_student_answer
    set course_id = #{courseId,jdbcType=BIGINT},
      courseware_id = #{coursewareId,jdbcType=BIGINT},
      courseware_item_id = #{coursewareItemId,jdbcType=BIGINT},
      student_id = #{studentId,jdbcType=BIGINT},
      fraction = #{fraction,jdbcType=INTEGER},
      create_id = #{createId,jdbcType=BIGINT},
      modify_id = #{modifyId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      site_id = #{siteId,jdbcType=BIGINT},
      result = #{result,jdbcType=LONGVARCHAR},
      tearch_result = #{tearchResult,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jimmy.dao.entity.CoursewareStudentAnswer" >
    update t_couseware_student_answer
    set course_id = #{courseId,jdbcType=BIGINT},
      courseware_id = #{coursewareId,jdbcType=BIGINT},
      courseware_item_id = #{coursewareItemId,jdbcType=BIGINT},
      student_id = #{studentId,jdbcType=BIGINT},
      fraction = #{fraction,jdbcType=INTEGER},
      create_id = #{createId,jdbcType=BIGINT},
      modify_id = #{modifyId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      site_id = #{siteId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>