<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jimmy.dao.mapper.CoursewareMapper">
    <resultMap id="BaseResultMap" type="com.jimmy.dao.entity.Courseware">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="is_used" property="isUsed" jdbcType="TINYINT"/>
        <result column="create_id" property="createId" jdbcType="BIGINT"/>
        <result column="modify_id" property="modifyId" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="site_id" property="siteId" jdbcType="BIGINT"/>
        <result column="description" property="description" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, name, is_used, create_id, modify_id, create_time, modify_time, site_id,description
  </sql>
    <select id="list" resultMap="BaseResultMap">
        select
        courseware.id, courseware.name, courseware.is_used, courseware.create_id, courseware.modify_id,
        courseware.create_time, courseware.modify_time, courseware.site_id, courseware.description
        from t_courseware courseware
        join t_course_link cl on courseware.id=cl.courseware_id and cl.course_id=#{courseId}
        where site_id IN
        <foreach collection="siteIdList" separator="," item="siteId" close=")" open="(">
            #{siteId}
        </foreach>
    </select>

    <insert id="insert" parameterType="com.jimmy.dao.entity.Courseware">
    insert into t_courseware ( name, is_used,
      create_id, modify_id, create_time, 
      modify_time, site_id, description
      )
    values ( #{name,jdbcType=VARCHAR}, #{isUsed,jdbcType=TINYINT},
      #{createId,jdbcType=BIGINT}, #{modifyId,jdbcType=BIGINT},now(),now(),  #{siteId,jdbcType=BIGINT}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>

    <update id="updateProperty" parameterType="com.jimmy.dao.entity.Courseware">
        update t_courseware
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="isUsed != null">
                is_used = #{isUsed,jdbcType=TINYINT},
            </if>

            modify_id = #{modifyId,jdbcType=BIGINT},


            modify_time =now(),

            <if test="description != null">
                description = #{description,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>