<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jimmy.dao.mapper.CoursewareItemMapper">
    <resultMap id="BaseResultMap" type="com.jimmy.dao.entity.CoursewareItem">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="content_type" property="contentType" jdbcType="TINYINT"/>
        <result column="resource_id" property="resourceId" jdbcType="BIGINT"/>
        <result column="courseware_id" property="coursewareId" jdbcType="BIGINT"/>
        <result column="order_num" property="orderNum"/>
        <result column="create_id" property="createId" jdbcType="BIGINT"/>
        <result column="modify_id" property="modifyId" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="site_id" property="siteId" jdbcType="BIGINT"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, type, content_type, resource_id, create_id, modify_id, create_time, modify_time, 
    site_id,content,order_num,courseware_id
  </sql>

    <select id="listByCoursewareId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_courseware_item
        where courseware_id = #{coursewareId}
        <if test=" contentType != null">
            and content_type=#{contentType}
        </if>
        and site_id IN
        <foreach collection="siteIdList" separator="," item="siteId" close=")" open="(">
            #{siteId}
        </foreach>
        ORDER BY order_num DESC ;
    </select>
    <select id="listByCoursewareIdList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_courseware_item
        where courseware_id IN
        <foreach collection="coursewareIdList" separator="," item="coursewareId" close=")" open="(">
            #{coursewareId}
        </foreach>
        <if test=" contentType != null">
            and content_type=#{contentType}
        </if>
        and site_id IN
        <foreach collection="siteIdList" separator="," item="siteId" close=")" open="(">
            #{siteId}
        </foreach>
        ORDER BY coursewareId ASC ,order_num DESC ;
    </select>
    <delete id="deleted">
        delete from t_courseware_item
        where courseware_id = #{coursewareId}
        and site_id IN
        <foreach collection="siteIdList" separator="," item="siteId" close=")" open="(">
            #{siteId}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.jimmy.dao.entity.CoursewareItem"  keyProperty="id" useGeneratedKeys="true">
    insert into t_courseware_item (courseware_id,order_num,type, content_type,
      resource_id, create_id, modify_id, 
      create_time, modify_time, site_id, 
      content)
    values (#{coursewareId,jdbcType=BIGINT},#{orderNum}, #{type,jdbcType=TINYINT}, #{contentType,jdbcType=TINYINT},
      #{resourceId,jdbcType=BIGINT}, #{createId,jdbcType=BIGINT}, #{modifyId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP},now(),now(),
      #{content,jdbcType=LONGVARCHAR})
  </insert>

</mapper>