<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jimmy.dao.mapper.QuestionItemMapper">
    <resultMap id="BaseResultMap" type="com.jimmy.dao.entity.QuestionItem">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="is_result" property="isResult" jdbcType="TINYINT"/>
        <result column="question_id" property="questionId" jdbcType="BIGINT"/>
        <result column="create_id" property="createId" jdbcType="BIGINT"/>
        <result column="modify_id" property="modifyId" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="site_id" property="siteId" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, content, is_result,question_id, create_id, modify_id, create_time, modify_time, site_id
  </sql>
    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_question_item
        where
        question_id IN
        <foreach collection="questionIdList" separator="," item="questionId" close=")" open="(">
            #{questionId}
        </foreach>
        and site_id IN
        <foreach collection="siteIdList" separator="," item="siteId" close=")" open="(">
            #{siteId}
        </foreach>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_question_item
        where question_id = #{questionId,jdbcType=BIGINT} and site_id IN
        <foreach collection="siteIdList" separator="," item="siteId" close=")" open="(">
            #{siteId}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.jimmy.dao.entity.QuestionItem"  keyProperty="id" useGeneratedKeys="true">
    insert into t_question_item (content, is_result,
      create_id, modify_id, create_time, 
      modify_time, site_id)
    values ( #{content,jdbcType=VARCHAR}, #{isResult,jdbcType=TINYINT},
      #{createId,jdbcType=BIGINT},  #{modifyId,jdbcType=BIGINT},now(),now(),
       #{siteId,jdbcType=BIGINT})
  </insert>
</mapper>