.content{
	width: 800px;
	height: auto;
}
.blue{
	width: 10px;
	height: 10px;
	background: cornflowerblue;
	float: left;
	margin-top: 23px;
	
}
.sp_text{
	font-size: 20px;
	margin-left: 8px;
	line-height: 50px;
}
.top_w{
	width: 200px;
	height: auto;
	margin-top: 5px;
}
.top{
	width: 800px;
	height: 50px;
	border-bottom: 1px dashed #D8E0E6;
}
.Le{
	text-align: left;
}
.Ri{
	text-align: right;
}
table span{
	color: red;
}
.ste{
	width: 32px;
	text-align: center;
}
.stes{
	float: left;
	margin-right: 25px;
}
.sts{
	margin-left: 5px;
}

.imgs{
	width: 300px;
	float: left;
}
.box div{
	margin-top: 15px;
}
.duox input{
	margin-top: 15px;
}
